.app-container {
  background-color: #e6eefa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  width: 200px;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heading-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.heading-text {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

